terraform/terraform.tfstate
terraform/.terraform.lock.hcl
terraform/terraform.tfstate.backup
terraform/.terraform/providers/registry.terraform.io/hashicorp/aws/4.19.0/darwin_amd64/terraform-provider-aws_v4.19.0_x5
terraform/.terraform/providers/registry.terraform.io/hashicorp/random/3.4.3/darwin_amd64/terraform-provider-random_v3.4.3_x5
terraform/.terraform/providers/registry.terraform.io/hashicorp/template/2.2.0/darwin_amd64/terraform-provider-template_v2.2.0_x4
terraform/secrets.tfvars

NOTES.md
terraform/.terraform/terraform.tfstate
terraform/.terraform/providers/registry.terraform.io/hashicorp/random/3.5.1/darwin_amd64/terraform-provider-random_v3.5.1_x5
*.DS_Store
terraform/.terraform/providers/registry.terraform.io/hashicorp/aws/4.65.0/darwin_amd64/terraform-provider-aws_v4.65.0_x5
terraform.tfstate
.env
