# Environment variables declared in this file are automatically made available to Prisma. This is simply a starting point. Most of these values are available in code via an export in
# src/constants/constants.general.ts 
# You can ignore/remove any values that you don't use, and add the ones you need.

# General
APP_VERSION=0.0.1
PORT=4001
NODE_ENV= "development"
FRONTEND_URL="http://localhost:3000"

# PRISMA: Databse URL (required)
DB_URL=

# (OPTIONAL) AWS: required if using the AWS service for image uploading.
# The @aws package will import and configure it for you.
AWS_DEFAULT_REGION="us-east-1"
AWS_IMGS_BUCKET="#"

# (OPTIONAL) OPEN AI: because all the kids love the AI these days
OPENAI_KEY="#"

# (OPTIONAL) DISCORD: in case you want to integrate with your server
DISCORD_ID="#"
DISCORD_SECRET="#"
DISCORD_REDIRECT="#"
DISCORD_BOT_TOKEN="#"


# (OPTIONAL) PASSPORTJS 

# IMPORTANT ⚠️: These values are required to make passportJs work. If you 
# don't want that package, remove the "configurePassport" function ref
# from server.ts, otherwise your app will crash.

# Encryption keys: run "npm run generate-keys" in the root to get these.
JWT_SEC="#"
ENCRYPT="#"

# OPTIONAL AES encryption secret, in case you use that. Prefer argon2
# for password hashing (already included and configured)
ENCRYPT_SECRET="secret123"

# (OPTIONAL) GOOGLE: enable "sign in with google" with passportjs.
# You get these values after creating/configuring a google OAuth client.
# You may add/configure alternative passportJS providers. 
GOOGLE_CLIENT_ID="#"
GOOGLE_CLIENT_SK="#"