PORT=4001
UIPORT=5173

# PRISMA
DB_URL="postgresql://postgres:password@localhost:5432/mythos_forge"

# SESSION ENCRYPT
JWT_SEC=
ENCRYPT=

# GOOGLE AUTH
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SK=

# OPENAI
OPENAI_KEY=

# AWS
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_IMGS_BUCKET=
AWS_DEFAULT_REGION="us-west-2"

# UI - for local dev, ensure this uses the same port as UIPORT above!
APP_UI=http://localhost:5173
