PORT=4001
UIPORT=5173

# PRISMA
DB_URL="postgresql://postgres:password@localhost:5432/mythos_forge"

# SESSION ENCRYPT
JWT_SEC=
ENCRYPT=

# GOOGLE AUTH
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SK=

# OPENAI
OPENAI_KEY=